/* COMMON */
html {
    font-size: 100%;
}

body {
    position: relative;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn-orange {
    padding: 10px;
    background-color: orangered;
}

/* HEADER */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.top-header {
    height: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: black;
}

.top-header img {
    width: 15%;
    padding-right: .5rem;
}

.bottom-header {
    height: 60px;
    background-color: white;
}

.bottom-header img {
    width: 20%;

}

.ms_style-navbar {
    display: none;
}

.menu {
    text-align: end;
}

.menu i {
    padding: 5px 10px;
    border: 1px solid lightgray;
    margin: 0.8rem 1rem;
    font-size: 1.3rem;
    color: gray;
}

.right-nav {
    display: none;
}

@media all and (min-width: 768px) and (max-width: 991px) {
    #logo {
        width: 15%;
    }
}

@media all and (min-width: 992px) {
    /* NAV */
    .top-header img {
        width: 5%;
    }

    .bottom-header img {
        width: 6%;
        margin-left: 10px;
    }

    .bottom-header .ms_style-navbar {
        display: flex;
        color: black;
    }

    /* LEFT-NAV */
    .ms_style-navbar a {
        color: black;
        font-size: 1rem;
    }

    .chevron {
        width: 10px;
    }

    .nav-item {
        width: 20%;
    }

    /* RIGHT-NAV */
    .menu i {
        display: none;
        margin: 0;
        border: 0;
    }

    .menu ul {
        display: flex;
        margin: 1rem;
    }

    .search-icon i{
        display: block;
        color: black;
    }

    .right-nav li {
        padding-right: .5rem;
    }
}

/* JUMBOTRON */
.jumbotron {
    height: 550px;
    margin-top: 90px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
}

.jumbotron img {
    width: 50%;
    margin-top: 15rem;
    filter: saturate(1);
}

.ms_style-jumbotext {
    margin-top: 2rem;
}

.ms_style-jumbotext p {
    padding: 20px 0;
}

@media all and (min-width: 992px) {
    .jumbotron img {
        width: 15%;
        margin-left: 2rem;
    }

    .ms_style-jumbotext {
        margin-left: 2rem;
    }
}

/* 1ST SECTION */
.ms_container {
    width: 90%;
    margin: 2rem auto;
}

.thumbnail {
    padding: .8rem;
    border-radius: 25px;
}

.nolimits {
    text-align: center;
    margin-top: 5rem;
}

.nolimits h5 {
    color: #2586d5;
}