/* COMMON */
html {
    font-size: 100%;
}

body {
    position: relative;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.ms_container {
    width: 80%;
    margin: 2rem auto;
}

.btn-orange {
    padding: 10px;
    background-color: orangered;
}

.fs {
    font-size: 17px;
}

/* HEADER */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.top-header {
    height: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: black;
}

.top-header img {
    width: 15%;
    padding-right: .5rem;
}

.bottom-header {
    height: 60px;
    background-color: white;
}

.bottom-header img {
    width: 20%;

}

.ms_style-navbar {
    display: none;
}

.menu {
    text-align: end;
}

.menu i {
    padding: 5px 10px;
    border: 1px solid lightgray;
    margin: 0.8rem 1rem;
    font-size: 1.3rem;
    color: gray;
}

.right-nav {
    display: none;
}

@media all and (min-width: 768px) and (max-width: 991px) {
    #logo {
        width: 15%;
    }
}

@media all and (min-width: 992px) {
    /* NAV */
    .top-header img {
        width: 5%;
    }

    .bottom-header img {
        width: 6%;
        margin-left: 10px;
    }

    .bottom-header .ms_style-navbar {
        display: flex;
        color: black;
    }

    /* LEFT-NAV */
    .ms_style-navbar a {
        color: black;
        font-size: 1rem;
    }

    .chevron {
        width: 10px;
    }

    .nav-item {
        width: 20%;
    }

    /* RIGHT-NAV */
    .menu i {
        display: none;
        margin: 0;
        border: 0;
    }

    .menu ul {
        display: flex;
        margin: 1rem;
    }

    .search-icon i{
        display: block;
        color: black;
    }

    .right-nav li {
        padding-right: .5rem;
    }
}

/* JUMBOTRON */
.jumbotron {
    height: 550px;
    margin-top: 90px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
}

.jumbotron img {
    width: 50%;
    margin-top: 15rem;
    filter: saturate(1);
}

.ms_style-jumbotext {
    margin-top: 2rem;
}

.ms_style-jumbotext p {
    padding: 20px 0;
}

@media all and (min-width: 992px) {
    .jumbotron img {
        width: 15%;
        margin-left: 2rem;
    }

    .ms_style-jumbotext {
        margin-left: 2rem;
    }
}

/* 1ST SECTION */
.thumbnail {
    padding: .8rem;
    border-radius: 25px;
}

.nolimits {
    text-align: center;
    margin-top: 5rem;
}

.nolimits h5 {
    color: #2586d5;
}


/* SECOND SECTION */
.img-opacity {
    opacity: .7;
}

.ps5-hardware {
    display: none;
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .ms_ps5 h2 {
        font-size: 2.5rem;
    }

    .ps5-hardware {
        display: block;
    }

    .ms_console-img {
        text-align: center;
        border-bottom: 1px solid #2586d5;
        margin-right: 2rem;
    }
}

@media all and (min-width: 992px) {
    

    .ms_ps5 {
        margin-top: 17rem;
    }

    .ms_lg-size {
        width: 50%;
        margin-top: 2rem;
    }

    .ps5-hardware {
        display: block;
    }

    .ms_console-img {
        text-align: center;
        border-bottom: 1px solid #2586d5;
        margin-right: 2rem;
    }
}

/* THIRD SECTION */
.games {
    height: 650px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

.takes-img {
    width: 55%;
}

.takes-description {
    margin-top: 2rem;
}

.takes-description p {
    padding: 20px 0;
}

@media all and (min-width: 768px) and (max-width: 991px) {

}

@media all and (min-width: 992px) {
    .takes-img {
        width: 15%;
    }

    .takes-description {
        width: 19%;
    }
}

/* FOURTH SECTION */
.new-releases {
    background-color: #1f1f1f;
    padding: 3rem;
}

.new-releases h2 {
    margin-bottom: 2rem;
}

/* FIFTH SECTION */
.explore {
    margin-top: 3rem;
    text-align: center;
}

.fs-21 {
    font-size: 21px;
}

/* SIXTH SECTION */
.ps-plus {
    background-color: #bebcbb;
}

.ps-plus-image img {
    width: 50%;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.ps-plus-text {
    padding-bottom: 3rem;
}

.ps-plus-text>p {
    padding: 1rem 0;
}

.april-games {
    display: none;
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .ps-plus-image img {
        width: 60%;
        margin-top: 1rem;
    }

    .ps-plus-text {
        font-size: 18px;
    }

    .april-games {
        display: block;
    }

    .ps-plus-text {
        padding-bottom: 0;
    }
}

@media all and (min-width: 992px) {
    .ms_ps-plus {
        margin-top: 5rem;
    }
    
    .april-games {
        display: block;
    }
}

/* SEVENTH SECTION */
.discounts {
    text-align: center;
    margin-top: 4rem;
}

.title-discount h2 {
    font-size: 3rem;
}

.title-discount p {
    margin: 2rem 0;
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .title-discount h2 {
        font-size: 2rem;
    }

    .title-discount p {
        font-size: 18px;
    }
}

/* EIGHT SECTION */
.ps-now {
    background-color: #161c3b;
}

.ps-now-image img {
    width: 60%;
}

.ps-now-text {
    font-size: 15px;
    padding: 2rem 0;
}

.featured-games {
    display: none;
}

@media all and (min-width: 768px) {
    .featured-games {
        display: block;
    }
}

/* NINETH SECTION */
.social-media {
    text-align: center;
}

/* TENTH SECTION */
footer {
    background-color: #00439c;
}

.footer-logo img {
    width: 25%;
    margin-top: 5rem;
}

.footer-logo p {
    margin: 2rem 0;
}

.footer-list li {
    padding: .3rem 0;
}

.sony-logo img {
    width: 25%;
    margin: 2rem .5rem;
}

.underline {
    text-decoration: underline;
}

.sony-logo {
    margin-bottom: 5rem;
}

@media all and (min-width: 768px) {
    .footer-logo img {
        width: 20%;
    }

    .sony-logo p {
        font-size: 14px;
    }
}

@media all and (min-width: 992px) {
    .footer-list {
        margin-top: 5rem;
    }
}